.range {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
}

input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background: #007bff;
    height: 2px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-moz-range-track {
    -moz-appearance: none;
    background: #007bff;
    height: 2px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 2px solid;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    max-width: 80px;
    position: relative;
    bottom: 7px;
    background-color: #f8f8f8;
    cursor: -webkit-grab;
    -webkit-transition: border 1000ms ease;
    transition: border 1000ms ease;
    border-color: #007bff;
}

input[type=range]::-moz-range-thumb {
    -moz-appearance: none;
    border: 2px solid;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    max-width: 80px;
    position: relative;
    bottom: 7px;
    background-color: #f8f8f8;
    border-color: #007bff;
    cursor: -moz-grab;
    -moz-transition: border 1000ms ease;
    transition: border 1000ms ease;
}



.range.blue::-webkit-slider-thumb {
    border-color: #007bff;
}

input[type=range]::-webkit-slider-thumb:active {
    cursor: -webkit-grabbing;
}

input[type=range]::-moz-range-thumb:active {
    cursor: -moz-grabbing;
}
